<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321248011240-enc8fcui12qf0j771t49pr92judh58t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321248011240-enc8fcui12qf0j771t49pr92judh58t0</string>
	<key>API_KEY</key>
	<string>AIzaSyCAW79FtQuT9xsvVBcW1nCCV5wTkTvo3cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>321248011240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yurii-Popleta.ScreenExternal1</string>
	<key>PROJECT_ID</key>
	<string>externalscreen</string>
	<key>STORAGE_BUCKET</key>
	<string>externalscreen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321248011240:ios:60ab6f6c962c97f105fa5d</string>
</dict>
</plist>